.bg-gamingchair {
    background-image: url(./assets/gam.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
}


:root {
    --purple: #865DFF;
    --background: #191825;
  }
